<%- include layouts/header.ejs %>

<!-- <h5>Todos los Cursos</h5> -->

<body>

	<div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Resultados de la Busqueda</h3>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <div class="col-md-12">
	    <% for(var i=0; i<queryCursos.length; i++) { %>
		<div class="col-md-3">
			<!-- product -->
			<div class="product">
				<div class="product-img">
					<img src="../../img/libros/<%= queryCursos[i].Imagen %>" alt="">
					<div class="product-label">
						<!-- <span class="sale">-30%</span> -->
						<!-- <span class="new">Nuevo</span> -->
					</div>
				</div>
				<div class="product-body">
					<form method="POST">
						<input id="txtID" name="txtID" type="hidden" value="<%= queryCursos[i].IDProducto %>">
						<p class="product-category">Nombre</p>
						<h3 class="product-name"><a href="/cursos/<%= queryCursos[i].IDProducto %>"><%= queryCursos[i].Titulo %></a></h3>
						<h4 class="product-price">$ <%= queryCursos[i].Precio %></h4>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product-btns">
							<!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button> -->
							<button formaction="/pay" class="add-to-compare"><i class="fa fa-paypal"></i><span class="tooltipp">Comprar</span></button>
							
						</div>

					</form>
					<div class="product-btns">
							<button class="quick-view"><i class="fa fa-eye" onclick="window.location='/cursos/<%= queryCursos[i].IDProducto %>'"></i><span class="tooltipp">Detalles</span></button>
						</div>
				</div>
				<div class="add-to-cart">
					<button onclick="window.location='/add-to-cart/<%= queryCursos[i].IDProducto %>'" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Al carrito</button>
				</div>
			</div>
			<br><br><br>
			<!-- /product -->
		</div>
		<% } %>
	</div>

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

<%- include layouts/footer.ejs %>