<%- include layouts/header.ejs %>
 
<body>
        <div id="breadcrumb" class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="breadcrumb-header">Carrito de Compras</h3>
                            <!-- <ul class="breadcrumb-tree">
                                <li><a href="#">Home</a></li>
                                <li class="active">Checkout</li>
                            </ul> -->
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /BREADCRUMB -->
    
            <!-- SECTION -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
    
                        <div class="col-md-7">
                            <!-- Billing Details -->
                            <div class="billing-details">
                                <div class="section-title">
                                    <h3 class="title">Datos</h3>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="txtNombreCompleto" value="<%= nombreUsuario %>" readonly>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="txtCorreo" value="<%= correoUsuario %>" readonly>
                                </div>
                            </div>
                            <!-- /Billing Details -->
    
                            <!-- Shiping Details -->
                            <div class="shiping-details">
                                <center>
                                    <img src="../img/usuarios/<%= fotoUsuario %>" alt="Foto" style="max-width: 30%;">
                                </center>
                            </div>
                            <!-- /Shiping Details -->
                        </div>
    
                        <!-- Order Details -->
                        <div class="col-md-5 order-details">
                            <div class="section-title text-center">
                                <h3 class="title">Art&iacute;culos</h3>
                            </div>
                            <div class="order-summary">
                                <div class="order-col">
                                    <div><strong>Producto</strong></div>
                                    <div><strong>Precio</strong></div>
                                </div>
                                <div class="order-products">
                                    <% for(var i=0; i<queryCarrito.length; i++) { %>
                                    <div class="order-col">
                                        <div>
                                            <a class="btn" href="/remove/<%= queryCarrito[i].IDCarrito %>"><i class="fa fa-trash"></i>
                                            </a>
                                            <%= queryCarrito[i].Titulo %>
                                        </div>
                                        <div>$ <%= queryCarrito[i].Precio %></div>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="order-col">
                                    <div><strong>Total</strong></div>
                                    <div><strong class="order-total">$ <%= totalCompra %></strong></div>
                                </div>
                            </div>
                            <% if(vacio == false) { %>
                            <form action="/carrito/<%= global.id %>" method="POST">
                                <button style="width: 100%;" class="primary-btn order-submit" type="submit"><i class="fa fa-paypal"></i>&nbsp;&nbsp;&nbsp;Realizar pedido</button>
                            </form>
                            <% } else { %>
                            <div class="alert alert-danger alert-dismissible">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Aviso!</strong> Carrito vacio.
                            </div>
                            <% } %>
                        </div>
                        <!-- /Order Details -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>

</body>
        		
<%- include layouts/footer.ejs %>