<%- include ../layouts/headerBack.ejs %>

<div class="card">
    <div class="card-header">
      <h4>Listado de Usuarios</h4>
      <br>
      <!-- <input type="submit" value="Submit" class="mr-3 btn btn-primary"> -->
      <a href="/Back/usuario_nuevo" class="mr-3 btn btn-primary">
      	<i class="fa fa-plus-circle fa-lg"></i> Agregar nuevo usuario
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm table-bordered">
          <thead>
            <tr>
              <th>Clave</th>
              <th>Nombre(s)</th>
              <th>Apellido(s)</th>
              <th>Correo</th>
              <th>Contrase&ntilde;a</th>
              <th style="width: 10%;">Foto</th>
              <th>Tipo de Usuario</th>
              <!-- <th>Cliente</th> -->
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<queryUsuarios.length; i++) { %>

            <tr>
            	<th><%= queryUsuarios[i].IDUsuario %></th>
            	<th><%= queryUsuarios[i].Nombre %></th>
            	<th><%= queryUsuarios[i].Apellido %></th>
            	<th><%= queryUsuarios[i].Correo %></th>
            	<th><%= queryUsuarios[i].Contrasena %></th>
            	<th><img src="../img/usuarios/<%= queryUsuarios[i].Foto %>" alt="<%= queryUsuarios[i].Foto %>" style="width: 60%">
              </th>
            	<th><%= queryUsuarios[i].TipoUsu %></th>
            	<!-- <th>
                <% if (queryUsuarios[i].Cliente == true) { %>
                <div class="i-checks">
                  <input type="checkbox" class="form-control-custom" checked>
                  <label></label>
                </div>
                <% } else { %>
                <div class="i-checks">
                  <input type="checkbox" class="form-control-custom">
                  <label></label>
                </div>
                <% } %>
              </th> -->
              <th>
                <% if (queryUsuarios[i].IDUsuario != 1) { %>
                  <a href="/Back/usuario_editar/<%= queryUsuarios[i].IDUsuario%>" class="btn btn-primary">
                    <i class="fa fa-pencil fa-lg"></i> Editar
                  </a>
                  <a href="/Back/usuario_eliminar/<%= queryUsuarios[i].IDUsuario%>" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-lg"></i> Eliminar
                  </a>
                <% } %>
              </th>
            </tr>

            <% } %>
          </tbody>
        </table>
      </div>
    </div>

</div>

<%- include ../layouts/footerBack.ejs %>