<%- include ../layouts/headerBack.ejs %>

<div class="card">
    <div class="card-header">
      <h4>Listado de Cursos</h4>
      <br>
      <!-- <input type="submit" value="Submit" class="mr-3 btn btn-primary"> -->
      <a href="/Back/cursos/nuevo" class="mr-3 btn btn-primary">
      	<i class="fa fa-plus-circle fa-lg"></i> Agregar nuevo curso
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th>Clave</th>
              <th>T&iacute;tulo</th>
              <th>Descripci&oacute;n</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Imagen</th>
              <th>Tecnolog&iacute;a</th>
              <th>Autor</th>
              <th>Ventas Totales</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<queryCursos.length; i++) { %>

            <tr>
            	<th><%= queryCursos[i].IDProducto %></th>
            	<th><%= queryCursos[i].Titulo %></th>
            	<th><%= queryCursos[i].Descripcion %></th>
            	<th><%= queryCursos[i].Precio%></th>
            	<th><%= queryCursos[i].Stock %></th>
            	<th><img src="../../img/usarios/<%= queryCursos[i].Imagen %>" alt="<%= queryCursos[i].Imagen %>" style="max-width: 10%;"></th>
            	<th><%= queryCursos[i].Tecnologia %></th>
            	<th><%= queryCursos[i].Autor %></th>
            	<th><%= queryCursos[i].TotVendidos %></th>
            </tr>

            <% } %>
          </tbody>
        </table>
      </div>
    </div>

</div>

<%- include ../layouts/footerBack.ejs %>